.header-contact {
  float: left;
  font-size: 16px;
  text-decoration: none;
  li {
    display: inline-block;

    a {
      color: $white;
      // font-size: 16px;
      // text-decoration: none;
    }
  }

  .header-connect {
    a {
      color: $black;
      // font-size: 16px;
      // text-decoration: none;
    }
  }
}
