.footer-main {
  text-align: center;

  .footer-connect-banner {
    background-color: $gray-primary;
    color: $black;

    a {
      color: $black;
      text-decoration: underline;
    }

    .footer-neswletter {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: normal;

      h1 {
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        font-weight: normal;
        padding: 20px 0 15px 0;
      }

      label {
        font-size: 15px;
      }

      input {
        margin: 10px;
        width: 50%;
      }

      button {
        border: 1px solid $black;
        margin-bottom: 10px;
        text-transform: uppercase;
      }
    }

    .footer-social {
      margin-top: 20px;
      font-size: 22px;

      h1 {
        font-weight: normal;
        font-size: 22px;
        margin-bottom: 15px;
      }

      ul {
        padding-bottom: 15px;

        li {
          margin-right: 15px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }

  .footer-nav-banner {
    background-color: $gray-secondary;
    width: 100%;
    height: 364px;
    position: relative;
  }

  .footer-nav-content {
    position: absolute;
    margin: 0;

    h1 {
      font-weight: normal;
      font-size: 22px;
      color: $white;
      margin: 33px 0;
    }

    & > ul {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: $white;
      margin: 0 10px;

      &:first-of-type {
        border-right: 1px solid $white;
        padding-right: 30px;
      }

      li {
        margin-bottom: 10px;

        a {
          color: $white;
          font-family: 'Roboto', sans-serif;
        }
      }
    }

    .footer-terms {
      margin: 25px 0;
      a {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        font-weight: 300;
        font-size: 14px;
        color: $white;
        text-decoration: underline;
      }
    }
  }
}
